<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Husain Raja</title>
	<meta name="author" content="Husain Raja">
	<meta name="keywords" content="Carnegie Mellon University, Information Systems">
	<meta name="description" content="Husain Raja Professional Website">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<h1 id="webname">Husain Raja</h1>
		<nav>
			<a href="../index.html" class="nav-link">Home</a> |
			<a href="cv.html" class="nav-link">CV</a> |
			<a href="contact.html" class="nav-link">Contact me</a> |
			<a href="fun.html" class="nav-link">For fun</a>
		</nav>
	</header>
	<div class="main">
		<h2>Contact Me</h2>
		<form>
			<div>
					<label for="name">Your name (required):</label>
					<input type="text" id="name" name="name" required>

					<label for="email">Your email:</label>
					<input type="email" id="email" name="email" required>

					<label for="comment">Your comment:</label>
					<textarea id="comment" name="comment" rows="4" required></textarea>
			</div>
			<div>
					<input type="submit" value="SEND">
			</div>
		</form>
		<table>
			<tr>
					<th>Contact Method Description</th>
			</tr>
			<tr>
					<td>Email</td>
					<td>horaja@andrew.cmu.edu</td>
			</tr>
			<tr>
					<td>Number</td>
					<td>937-681-6876</td>
			</tr>
			<tr>
					<td>LinkedIn</td>
					<td><a href="https://www.linkedin.com/in/husain-raja-591406269/" target="_blank">Click Here</a></td>
			</tr>
		</table>
	</div>
	<footer>
		<p>&copy; designed and coded by Husain Raja</p>
	</footer>
</body>
</html>