<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Husain Raja</title>
	<meta name="author" content="Husain Raja">
	<meta name="keywords" content="Carnegie Mellon University, Information Systems">
	<meta name="description" content="Husain Raja Professional Website">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<script src="../static/script.js" defer></script>
</head>
<body>
	<header>
		<h1 id="webname">Husain Raja</h1>
		<nav>
			<a href="../index.html" class="nav-link">Home</a> |
			<a href="cv.html" class="nav-link">CV</a> |
			<a href="contact.html" class="nav-link">Contact me</a> |
			<a href="fun.html" class="nav-link">For fun</a>
		</nav>
	</header>
	<div class="main">
		<h2>Things I love to do for fun</h2>
		<ul>
			<li>Photography</li>
			<li>Hiking</li>
			<li>Playing Tennis</li>
			<li>Watching sports like football and soccer</li>
	</ul>
	</div>
	<footer>
		<p>&copy; designed and coded by Husain Raja</p>
	</footer>
</body>
</html>