<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Husain Raja</title>
	<meta name="author" content="Husain Raja">
	<meta name="keywords" content="Carnegie Mellon University, Information Systems">
	<meta name="description" content="Husain Raja Professional Website">
</head>
<body>
	<header>
		<h1>Husain Raja</h1>
		<nav>
			<a href="../index.html">Home</a> |
			<a href="cv.html">CV</a> |
			<a href="contact.html">Contact me</a> |
			<a href="fun.html">For fun</a>
		</nav>
	</header>
	<div class="main">
		<h2>Things I love to do for fun</h2>
		<ul>
			<li>Photography</li>
			<li>Hiking</li>
			<li>Playing Tennis</li>
			<li>Watching sports like football and soccer</li>
	</ul>
	</div>
	<footer>
		<p>&copy; designed and coded by Husain Raja</p>
	</footer>
</body>
</html>