<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Husain Raja</title>
	<meta name="author" content="Husain Raja">
	<meta name="keywords" content="Carnegie Mellon University, Information Systems">
	<meta name="description" content="Husain Raja Professional Website">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
	<script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
	<header>
		<h1 id="webname">Husain Raja</h1>
		<nav>
			<a href="../index.html" class="nav-link">Home</a> |
			<a href="cv.html" class="nav-link">CV</a> |
			<a href="contact.html" class="nav-link">Contact me</a> |
			<a href="fun.html" class="nav-link">For fun</a>
		</nav>
	</header>
	<div class="main">
		<h2>Curriculum Vitae</h2>
		<table>
			<tr>
					<th>Name</th>
					<th>Description</th>
			</tr>
			<tr>
					<td>Education</td>
					<td>
							<strong>Carnegie Mellon University</strong> - May 2028<br>
							Bachelor of Science in Information Systems and Computer Science<br>
							Pittsburgh, PA<br>
							<em>Relevant Coursework:</em> Algorithms and Data Structures, Discrete Mathematics, Linear Algebra, Probability/Statistics
					</td>
			</tr>
			<tr>
					<td>Professional Experience</td>
					<td>
							<strong>Software Development Intern</strong> - September 2021 – January 2023<br>
							Spacepointe Payment Solutions, Dayton, OH<br>
							• Debugged and resolved over 15 critical bugs in payment systems<br>
							• Enhanced software compatibility for payment systems across 5 device types
							<br><br>
							<strong>Student Visionary of the Year | Lead Supervisor</strong> - January 2023 – March 2023<br>
							Leukemia and Lymphoma Society, Dayton, OH<br>
							• Led fundraising initiatives for cancer research<br>
							• Helped raise $400K while leading a team of &gt20
					</td>
			</tr>
			<tr>
					<td>Project Experience</td>
					<td>
							<strong>Carnegie Mellon Racing Driverless</strong> - August 2024 – Present<br>
							• Engineered a LiDAR-based perception system<br>
							• Achieved 98% cone detection accuracy<br>
							• Optimized car and track bounding features
							<br><br>
							<strong>CMU SuperApp</strong> - August 2024 - Present<br>
							• Developed customizable hub for campus resources<br>
							• Led coordination of design and implementation tasks
							<br><br>
							<strong>CMU AI Competition Platform</strong> - August 2024 – December 2024<br>
							• Created a full-stack web app for AI Competition<br>
							• Optimized database architecture for ~200 participants
							<br><br>
							<strong>MarketMoves - Stock Sentiment Analyzer</strong> - September 2024<br>
							• Built sentiment analysis tool for stock market data<br>
							• Improved prediction accuracy by 15% in testing
					</td>
			</tr>
			<tr>
					<td>Skills</td>
					<td>
							<strong>Languages:</strong> Python, C/C++, CUDA, Java, SQL, JS, HTML/CSS<br>
							<strong>Frameworks:</strong> React, Next.js, MongoDB Atlas, PostgreSQL<br>
							<strong>Developer Tools:</strong> Git, Github, Docker, VS Code, IntelliJ, JIRA, Trello<br>
							<strong>Libraries:</strong> pandas, NumPy, Matplotlib, NLTK, PyTorch, TensorFlow
					</td>
			</tr>
			<tr>
        	<td>Certifications</td>
        	<td>
            <strong>AWS Certified Cloud Practitioner</strong> - January 2024<br>
            <strong>Google Data Analytics Certificate</strong> - August 2023<br>
            <strong>Microsoft Azure Fundamentals (AZ-900)</strong> - May 2023
       		</td>
    	</tr>
    	<tr>
        	<td>Languages</td>
        	<td>
            <strong>English:</strong> Native<br>
            <strong>Hindi:</strong> Fluent<br>
            <strong>Spanish:</strong> Intermediate
        	</td>
    </tr>
			<tr>
					<td>Resume</td>
					<td>
							<a href="../static/Husain-Raja-Resume.pdf" target="_blank">Download Full Resume (PDF)</a>
					</td>
			</tr>
	</table>
	</div>
	<footer>
		<p id="copyYear">designed and coded by Husain Raja &copy;</p>
	</footer>
</body>
</html>